#container
{
    margin-top: 50px;
    margin-bottom: 5px;
    margin-right: 500px;
    margin-left: 500px;
}

#button1
{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 500px;
    margin-left: 500px;
}

#button2
{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 500px;
    margin-left: 500px;
    font-size: 18px;
}

#cyan
{
    background-color: #00ffff; /* Green */
    border: none;
    color: black;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}

#red
{
    background-color: #ff0000;
    border: none;
    color: black;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}

#change
{
    background-color: #00ff00; /* Green */
    border: none;
    color: blue;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
